* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('travelRecommendation\Images\melbourne.jpg');
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

div#main {
    background-image: url("https://ibb.co/d0n3byn");

    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height of the element to fill the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-p {
    position: relative;
    font-size: 50px;
}

#intro {
    background-color: aqua;
}
